# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [14]:
data.duplicated().sum()

54

In [15]:
data = data.drop_duplicates()

**Задание 15. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [16]:
data['education'] = data['education'].str.lower()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуйте данные и ответьте на вопросы

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

In [22]:
data.head(15) # для начала еще раз посмотрим на получившуюся таблицу просле всех преобразований, выполненных в части 1 и 2

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,C,операции с недвижимостью
11,0,792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,C,операции с недвижимостью
12,0,365286.622650,65,среднее,1,гражданский брак,1,M,пенсионер,0,118514,сыграть свадьбу,C,проведение свадьбы
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,C,операции с автомобилем
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,C,операции с недвижимостью

Для ответа на вопрос о том, есть ли зависимость между количеством детей и возвратом кредита в срок, нам нужно посмотреть на среднее значение по каждой из категорий людей по количеству детей.
Из прошлого задания мы знаем, что в нашей выборку есть люди без детей, с 1, 2, 3, 4 и 5 детьми.

In [23]:
pivot_children = pd.pivot_table(data, index = 'children', values = 'debt', aggfunc = ['count', 'sum']) 
#Создали пивот с количеством наблюдений и количеством наблюдений с просроченными платежами
pivot_children.reset_index(inplace=True)
#опустили названия столбцов для большей простоты дальнейшей обработки
display (pivot_children)

  children  count   sum
             debt  debt
0        0  14107  1063
1        1   4809   444
2        2   2052   194
3        3    330    27
4        4     41     4
5        5      9     0

In [24]:
display(data[data['children']==5]) #проверим, для наблюдений с 5 детьми, действительно ли не было просроченных платежей

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
3979,5,1572.328285,42,среднее,1,гражданский брак,1,M,сотрудник,0,142594,на покупку своего автомобиля,C,операции с автомобилем
4397,5,3248.839837,36,среднее,1,женат / замужем,0,F,компаньон,0,168460,операции с недвижимостью,C,операции с недвижимостью
7866,5,773.124856,36,среднее,1,женат / замужем,0,F,сотрудник,0,48772,операции с жильем,D,операции с недвижимостью
15822,5,418.199982,31,среднее,1,женат / замужем,0,F,сотрудник,0,77552,сделка с подержанным автомобилем,C,операции с автомобилем
15916,5,2286.262752,37,среднее,1,женат / замужем,0,F,сотрудник,0,256698,покупка недвижимости,B,операции с недвижимостью
16211,5,387.317579,35,среднее,1,гражданский брак,1,F,госслужащий,0,126102,на проведение свадьбы,C,проведение свадьбы
20452,5,268.425464,38,начальное,3,женат / замужем,0,F,сотрудник,0,212545,заняться высшим образованием,B,получение образования
20837,5,2386.600221,35,среднее,1,женат / замужем,0,F,компаньон,0,204241,жилье,B,операции с недвижимостью
21156,5,1690.018117,59,среднее,1,женат / замужем,0,M,сотрудник,0,269068,операции со своей недвижимостью,B,операции с недвижимостью

Действительно, люди с 5 детьми не имеют просрочки, однако, даже принимая во внимание факт, что столь многодетные семь - редкость, в случае с нашей выборкой, таких людей всего 9, что не позволяет сделать вывод о том, что люди с 5 детьмя являются самыми надежными заемщиками, необходимо дополнительно исследование для валидации данной гипотизы.

In [25]:
pivot_children['ratio [%]'] = pivot_children['sum'] / pivot_children['count']
pivot_children['ratio [%]'] *= 100 #для более простого восприятия, возьмем проценты
#сделали соотношение количества просроченных платежей к количеству наблюдений
#в данном случае мы не сталит делать сортировку по доле просроченных кредитов, т.к. данные по количеству детей, по моему мнению, воспринимаются лучше в порядке возрастания кол-ва детей
display (pivot_children)

  children  count   sum ratio [%]
             debt  debt
0        0  14107  1063  7.535266
1        1   4809   444  9.232689
2        2   2052   194  9.454191
3        3    330    27  8.181818
4        4     41     4  9.756098
5        5      9     0  0.000000

**Вывод:** 
Люди без детей отдают кредиты чуть лучше, чем люди с детьми, однако разница небольшая и данный показатель не может быть решающим при одобрении кредита
Выборка по людям с 4 и 5 детьми, даже с учетом их небольшого количества в обществе, не может считаться репрезентативной из-за малого количества наблюдений
Для скоринговой модели будет достаточно показателя наличия / отсутствия детей

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

Проведем аналогичную процедуру с показателем "family_status"

In [26]:
pivot_family = pd.pivot_table(data, index = 'family_status', values = 'debt', aggfunc = ['count', 'sum']) 
#Создали пивот с количеством наблюдений и количеством наблюдений с просроченными платежами
pivot_family.reset_index(inplace=True)
#опустили названия столбцов для большей простоты дальнейшей обработки
pivot_family['ratio [%]'] = pivot_family['sum'] / pivot_family['count']
pivot_family['ratio [%]'] *= 100 # в процентах легче воспринимать данные
pivot_family = pivot_family.sort_values(by="ratio [%]", ascending = True).reset_index(drop=True)
# сделали сортировку в порядке возрастания рисков
display (pivot_family)

           family_status  count  sum ratio [%]
                           debt debt
0         вдовец / вдова    951   63  6.624606
1              в разводе   1189   84  7.064760
2        женат / замужем  12266  927  7.557476
3       гражданский брак   4146  385  9.286059
4  Не женат / не замужем   2796  273  9.763948

**Вывод:** 
мы видим достаточно противоречивые данные, люди, побывавшие в браке, но разведенные или потерявшие супруга, наименее рисковые, однако люди, еще не побывавшие в браке имеют самую большую долю должников.
при этом интересные данные можно заметить в разбивке официального брака и гражданского, расписавшиеся люди гораздо более стабильны финансово, чем живущие гражданиским браком. Возможно предположить связь между данными показателями (необходимо доп исследование, возможно, психологическое)
В итоге можно сделать вывод о наличии зависимости семейного положения и возвратом кредита в срок

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

Проведем аналогичную процедуру с показателем "total_income_category"
Судя по наличию данного пункта во второй части, попробуем оценить в зависимости от определенных категорий
0–30000 — 'E';
30001–50000 — 'D';
50001–200000 — 'C';
200001–1000000 — 'B';
1000001 и выше — 'A'.

In [27]:
pivot_income = pd.pivot_table(data, index = 'total_income_category', values = 'debt', aggfunc = ['count', 'sum']) 
#Создали пивот с количеством наблюдений и количеством наблюдений с просроченными платежами
pivot_income.reset_index(inplace=True)
#опустили названия столбцов для большей простоты дальнейшей обработки
pivot_income['ratio [%]'] = pivot_income['sum'] / pivot_income['count']
pivot_income['ratio [%]'] *= 100 # в процентах легче воспринимать данные
pivot_income = pivot_income.sort_values(by="ratio [%]", ascending = True).reset_index(drop=True)
# сделали сортировку в порядке возрастания рисков
display (pivot_income)

  total_income_category  count   sum ratio [%]
                          debt  debt
0                     D    349    21  6.017192
1                     B   5014   354  7.060231
2                     A     25     2  8.000000
3                     C  15938  1353  8.489145
4                     E     22     2  9.090909

По полученному результату достаточно сложно сказать что-то точное, основная масса людей сконцентрирована в категориях В и С, а показатели категрии А, Е нерепрезентативны
Данный вывод не удивителен в силу того, что при определении категорий доходов поставленные рамки были очень широкими и не удивительно, что основная масса людей попала в категорию С

Если просто посмотреть на полученную таблицу, что можно сделать следующие выводы
Наихудшей надежностью обладают люди с минимальным заработком - категория Е, что явно не является сюрпризом, людям с наименьшим доходом сложнгее всего выплачивать все кредиты вовремя
Наилучшей надежностью обладают люди второй низшей ктегории доходов - D, объяснить данный факт с точки зрения логики сложно, возможно это связано с тем, что для данной категории людей займы являются привычным средством, однако их финансовое положение позволяет им выплачивать их вовремя, чтобы не портить кредитную историю и меть возможность и в дальнейшеи пользоваться займами (для проверки данной гипотезы нам не хватает данных по количеству займов в периоде и их суммам)

Попробуем немного изменить условия и посмотреть на доходы нашей выборки в среднем и разбить на процентиль

In [28]:
data['total_income'].quantile([0.2, 0.4, 0.6, 0.8])

0.2     98528.2
0.4    132111.0
0.6    161327.8
0.8    214533.2
Name: total_income, dtype: float64

мы получили данные по категориям, таким образом мы сможем разбить людей по 5 процентилям, для этого нам нужно будет переписать нашу функцию и добавить новые категории в новый столбец изначальных данных

In [29]:
def income_perc(income):
    if income <= 98528.2:
            return '20'
    if income <= 132111.0:
            return '40'
    if income < 161327.8:
            return '60'
    if income < 214533.2:
            return '80'
    return '100'

In [30]:
data['total_income_perc'] = data['total_income'].apply(income_perc) #применим нашу функцию
display (data.head(15)) #и посмотрим на данные

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category,total_income_perc
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью,100
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем,40
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью,60
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования,100
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы,60
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью,100
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью,100
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования,60
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы,20
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью,60
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,C,операции с недвижимостью,40
11,0,792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,C,операции с недвижимостью,20
12,0,365286.622650,65,среднее,1,гражданский брак,1,M,пенсионер,0,118514,сыграть свадьбу,C,проведение свадьбы,40
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,C,операции с автомобилем,40
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,C,операции с недвижимостью,80

In [32]:
pivot_income_perc = pd.pivot_table(data, index = 'total_income_perc', values = 'debt', aggfunc = ['count', 'sum']) 
#Создали пивот с количеством наблюдений и количеством наблюдений с просроченными платежами
pivot_income_perc.reset_index(inplace=True)
#опустили названия столбцов для большей простоты дальнейшей обработки
pivot_income_perc['ratio [%]'] = pivot_income_perc['sum'] / pivot_income_perc['count']
pivot_income_perc['ratio [%]'] *= 100 # в процентах легче воспринимать данные
pivot_income_perc = pivot_income_perc.sort_values(by="ratio [%]", ascending = True).reset_index(drop=True)
# сделали сортировку в порядке возрастания рисков
display (pivot_income_perc)

  total_income_perc count  sum ratio [%]
                     debt debt
0               100  4270  299  7.002342
1                20  4270  344  8.056206
2                40  4269  356  8.339190
3                80  4269  358  8.386039
4                60  4270  375  8.782201

Таким образом мы получили гораздо более репрезентативные данные

**Вывод:** 
Хуже всего выплачивают кредиты люди со сверхвысоким и сверхнихким доходом, люди со средним доходом выплачивают кредиты надежнее остальных

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

и еще раз применим нашщ принцип анализа данных, на этот раз к "purpose_category"

In [33]:
pivot_purp = pd.pivot_table(data, index = 'purpose_category', values = 'debt', aggfunc = ['count', 'sum']) 
#Создали пивот с количеством наблюдений и количеством наблюдений с просроченными платежами
pivot_purp.reset_index(inplace=True)
#опустили названия столбцов для большей простоты дальнейшей обработки
pivot_purp['ratio [%]'] = pivot_purp['sum'] / pivot_purp['count']
pivot_purp['ratio [%]'] *= 100 # в процентах легче воспринимать данные
pivot_purp = pivot_purp.sort_values(by="ratio [%]", ascending = True).reset_index(drop=True)
# сделали сортировку в порядке возрастания рисков
display (pivot_purp)

           purpose_category  count  sum ratio [%]
                              debt debt
0  операции с недвижимостью  10754  780  7.253115
1        проведение свадьбы   2324  183  7.874355
2     получение образования   3989  369  9.250439
3    операции с автомобилем   4281  400  9.343611

**Вывод:** 
Хуже всего выглядят займы на автомобиль и образование, лучшим показателем является операции с недвижимостью.
Удивителен результат возвращаемости займов на свадьбы, возможно, какую-то роль играют подаренные деньги (для этого было бы неплохо посмотреть на сроки возвратов данного типа займов)

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

Пропуски в исходных данных ми видели в столбцах с доходом и с количеством рабочих дней, давайте посмотрим на несколько примеров этих пропусков.
Для того, чтобы не "портить" нашу обработанную таблицу, создадим новую

In [39]:
skipped_data = pd.read_csv('/datasets/data.csv') #прочитаем файл и поместим в новый датафрейм
skipped_data = skipped_data[skipped_data['days_employed'].isna() == True] #выделим пропуски
display(skipped_data) #и посмотрим на них
display(skipped_data['income_type'].unique()) #посмотрим, кем работают эти люди

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости
41,0,NaN,50,среднее,1,женат / замужем,0,F,госслужащий,0,NaN,сделка с подержанным автомобилем
55,0,NaN,54,среднее,1,гражданский брак,1,F,пенсионер,1,NaN,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...,...,...
21489,2,NaN,47,Среднее,1,женат / замужем,0,M,компаньон,0,NaN,сделка с автомобилем
21495,1,NaN,50,среднее,1,гражданский брак,1,F,сотрудник,0,NaN,свадьба
21497,0,NaN,48,ВЫСШЕЕ,0,женат / замужем,0,F,компаньон,0,NaN,строительство недвижимости
21502,1,NaN,42,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,строительство жилой недвижимости
21510,2,NaN,28,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,приобретение автомобиля

array(['пенсионер', 'госслужащий', 'компаньон', 'сотрудник',
       'предприниматель'], dtype=object)

*Ответ:* 
Данные пропущенны сразу по двум столбцам - по общему трудовому стажу в днях и по ежемесячному доходу
Пенсионеры не работают и не имеют "стандартного" дохода - зарплаты
Госслужащие не хотят раскрывать свой уровень дохода
Компаньоны также не имеют своего дохода
Предпринематель так же не имеет точных отработанных дней и не желает раскрывать свой доход / не имеет фиксированную оплату
Сотрудник - ошибка / упущение / сотрудник не помнит количество отработанных дней / сотрудник может быть на неоплачиваемой стажировке

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

*Ответ:* 
Лучше всего использовать среднее значение, когда распределение значений данных симметрично и нет явных экстримальных значений.
Лучше всего использовать медиану, когда распределение значений данных асимметрично или когда есть явные экстремумы, так как данные в основном являются ассиметричными, имеют выбивающиеся значения, а финансовые данные в частности имеют свойства иметь толстый хвост распределения, в большинстве случаев работы с количественными данными лучше использовать медиану

## Общий вывод.

В целом, мы не увидели какую-то категорию людей, которая является злостным неплательщиком.
Банку стоит обратить внимание на автокредиты и кредиты на образование.
Банку стоит более внимательно проверять людей вне официально зарегистрированного брака.
Отсутствие детей благоприятно влияет на платежную дисциплину, однако их количетсво не столь важно.
Если низкий возврат у беднейших слоев населения логичен, банку стоит осторожнее относиться и к наиболее обеспеченным людям.

Дополнительно стоит посмотреть на количество займов на человека и на сроки возврата кредитов, а также на суммы займов.